/* 头部导航栏样式开始了 */
.top-nav{
    background-color: #333;
}
.nav-list{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 53px;
    box-sizing: border-box;
}
.icon-phone{
    font-size: 14px;
}
.nav-list a{
    padding: 0 15px;
    font-size:14px ;
    line-height: 1;
    color:#cdcdcd ;
    border-right: 2px solid #666;
}
.nav-list a:last-of-type{
     border-right: 0;
} 
.nav-list a:hover{
    color: #27ba9b;
}
/* 头部导航栏样式结束了 */
/* 头部导航栏开始了 */
.header{
    height: 132px;
    background-color: #fff;
}
.header-box{
    display: flex;
    align-items: center;
    height: 132px;
}
.header-img{
    width: 200px;
}
.header-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 820px;
    height: 32px;
    padding-left: 40px;
}
.navlist{
    position: relative;
}
.navlist >a{
    color: #333;
}
.nav-details{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    width: 1200px;
    height: 0;
    overflow: hidden;
    /* 透明级别 */
    opacity:0; 
    /* height: 132px; */
    padding: 0 70px;
    top: 56px;
    left: -341px;
    background: #fff;
    /* 获取虚影 */
    box-shadow: 0 0 5px #ccc;
    /* 动画效果，以多少秒展示 */
    transition: all .2s .1s;
}
.nav-details a{
    display: inline-block;
    text-align: center;
    width: 110px;
}
.nav-details a img{
    width: 60px;
}
.nav-details a p{
    color: #333;
    font-size: 14px;
}
.navlist>a:hover{
    color: #27ba9b;
}
.navlist>a:hover+.nav-details{
    color: red;
    height: 132px;
    opacity: 1;
}
.search{
    width: 170px;
    height: 32px;
    line-height: 32px;
}
.search input{
    font-size: 14px;
    color: #666;
}
/* 头部导航栏结束了 */